.trait-card {
    display:flex;
    flex-direction: column;
    background-color: #C4C4C4;
    align-items: center;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
    border: #C41E1E solid 3px;
    flex-basis: 25vw;
    border-radius: 5%;
}

.trait-card:hover {
    transform: scale(1.25);
    transition-duration: 0.5s;
}

.trait-name {
    font-weight: bold;
    color: #C41E1E;
}

.trait-image {
    width: 50%;
    height: auto;
    border-bottom: #C41E1E solid 0.1vw;
}

.galaxy-description {
    color: #C41E1E;
    word-break: break-word;
}