.button {
    border: none;
    border-bottom: solid blue 3px;
    background-color: white;
    width: 15vw;
    margin: 0 3vw 0 0;
    transition: all 0.8s;
    padding: 0.5vh 0 0.5vh 0;
    text-align: center;
}

.button:hover {
    background-color: blue;
    color: white;
    border: none;
}

.button:focus {
    background-color: blue;
    color: white;
    border: none;  
    width: 20vw;
    font-weight: bold;
}

