.button {
    display:flex;
    color: #2E8BAF;
    background-color: #E5E5E5;
    transition: all 0.8s;
    padding: 0.5vh 0;
    flex-basis:100%;
    min-width: 50%;
    max-width: 100%;
    place-content: center;
    place-items: center;
    box-shadow: inset 0 -1px black;
}

@media only screen and (max-width: 600px){
    .button {
        color: #2E8BAF;
        background-color: #E5E5E5;
        margin: 0 0 0 0;
        transition: all 0.8s;
        padding: 0.5vh 0 0.5vh 0;
        text-align: center;
        font-size: 80%;
    }
}

.button:hover {
    background-color: #2E8BAF;
    color: #E5E5E5;
}



